.gradient-custom-2 {
    /* fallback for old browsers */
    background: #90e6fc;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #cacaca, #71ffff, #cacaca);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, #60caff, #71bfff, #5465d1);
  }

  

img {
    width: 120%;
    height: 120%;
    position: fixed;
    z-index: -1;
    margin-top: -5%;
    margin-left: -15%;
    display: flex;
}
  
  .gradient-custom-1 {
    /* fallback for old browsers */
    background: #90e6fc;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, #cacaca, #71ffff, #cacaca);

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, #b6ebff, #71ffff, #b6ebff);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }