h1{
    margin-top: 5%;
    font-size:220%;
    margin-bottom: 0;
}
select{
    align-items: flex-end;
    margin-left: 90%;
    font-size: large;
    border: 1rm;
    background-color: rgb(209, 226, 226);
    width: 10%;
    text-indent: 20px;
    margin-bottom: 1px;
    border-radius: 5px;

}
.navbar{
    display: block;
    background-color: rgb(233, 255, 255);
    margin-top:2%
}
.contaier{
    display: block;
    align-items: center;    
    width: 50%;
    margin-right: 30%;
    max-height: "   ";
    scroll-behavior: auto;
    height: 100% !important;
    overflow: hidden;
    border: 2px;
    border-color: aquamarine;
    border-radius: 2px;
    padding : 10%;
}


img {
    width: 120%;
    height: 120%;
    position: fixed;
    z-index: -1;
    margin-top: -5%;
    margin-left: -15%;
    display: flex;
}
button{
    height: 10%;
    background-color: rgb(0, 192, 80);
    color: aliceblue;
    margin-left: 90%;    
    border: 1px;
    border-color:black;
    border-radius: 3px;
    font-size: large;
    margin-top: 2px;
    width: 10%;
}


iframe{
    border: 2px;
    border-style:groove;
    border-radius: 2px;
    border-color: rgb(127, 255, 180);
    display: block;
}

.input{
    width: 99%;
    min-height: 80px;
    display: block;
    border-color: rgb(45, 255, 3);
    border: 1px;
    border-style: dashed;
    background-color: rgba(127, 255, 212, 0);
    max-width: 100%;
}

